# maven ignore
HELP.md
target/
*.jar
!.mvn/wrapper/*
*.war
*.zip
*.tar
*.tar.gz

# eclipse ignore
.settings/
.project
.classpath

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/nbdist/
/.nb-gradle/
/build/
/ac-deck/src/main/resources/static/dist/
/ac-deck/src/main/resources/static/node_modules
/ac-deck/src/main/resources/static/package-lock.json

### VS Code ###
.vscode/

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db
*.orig

# flatten ignore
.flattened-pom.xml
